{% extends 'base.html' %}
{% load static %}

{% block title %}List of Items{% endblock title %}

{% block content %}
<div class="card-columns">
    {% for object in object_list %}
        <div class="card">
        {% if object.picture %}
            <img class="card-img-top" style="max-height: 250px; object-fit: cover;" src="{{ object.picture.url }}" alt="{{ object.title }}">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text text-muted"><i class="far fa-list mr-2"></i>{{ object.category|truncatechars:40 }}<br>
                <i class="far fa-map-marker-alt mr-2 ml-1"></i>{{ object.location }}<br>
                    <span class="text-muted"><i class="far fa-clock mr-2"></i>{{ object.updated|date:'d M' }}</span><br>
                </p>
                <div class="text-right">
                <a href="{{ object.get_absolute_url }}" class="btn btn-light stretched-link align-right"><i style="font-size: 12pt;" class="far fa-dollar-sign"></i>{{ object.price }}</a>
                    </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}